.example-spacer {
    flex: 1 1 auto;
  }

  .example-sidenav {
    width: 200px;
    height: 100vh;
  }

  .example-container {
    height:  100vh;
  }

  .selec {
    background-color: rgb(91, 23, 14);
  }

  .img1{
    width: 200px;
    height: 220px;
    border-radius: 50%;
  }
  .menuHorizontal{
    background-color: rgba(1, 6, 6 , .8);
  }
  .menuLateral{
    background-color: rgba(1, 6, 6 , .8);
  }